body{
  background-color: rgb(241, 161, 107);
  font: normal 15 pt Arial;
}
header{
  color: rgb(8, 8, 8);
  text-align: center;
  background:  #FFA500;
  border-style: solid;
  border-radius: 15px;
}
h3{
  width: 450px;
  text-align:left;
}
div{
  padding: 5px;
}
#board {
  background-image: url("tabuleiromadeira.png");
  height: 100px;
  width: 240px;
  border-radius: 20px;
}